In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('train.csv')
print(train.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

#This is the titanic Dataset


Variable	Definition	Key
survival	Survival	0 = No, 1 = Yes
pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	Sex	
Age	Age in years	
sibsp	# of siblings / spouses aboard the Titanic	
parch	# of parents / children aboard the Titanic	
ticket	Ticket number	
fare	Passenger fare	
cabin	Cabin number	
embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [3]:
train=train.drop(['Name','PassengerId','Ticket'],axis=1)
print(train.head(5))

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [4]:
train['Sex']=train['Sex'].map({'male':1,'female':0})
print(train.head(5))

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    1  22.0      1      0   7.2500   NaN        S
1         1       1    0  38.0      1      0  71.2833   C85        C
2         1       3    0  26.0      0      0   7.9250   NaN        S
3         1       1    0  35.0      1      0  53.1000  C123        S
4         0       3    1  35.0      0      0   8.0500   NaN        S

In [5]:
train=train.drop(['Cabin'],axis=1)
train['Embarked']=train['Embarked'].map({'C':0,'Q':1,'S':2})
trainy=train.Survived
train=train.drop(['Survived'],axis=1)
print(train.head(5))

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500       2.0
1       1    0  38.0      1      0  71.2833       0.0
2       3    0  26.0      0      0   7.9250       2.0
3       1    0  35.0      1      0  53.1000       2.0
4       3    1  35.0      0      0   8.0500       2.0

In [6]:
test=pd.read_csv('test.csv')
test1=pd.read_csv('test.csv')

In [7]:
test=test.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
test['Sex']=test['Sex'].map({'male':1,'female':0})
test['Embarked']=test['Embarked'].map({'C':0,'Q':1,'S':2})
print(test.head(5))

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [8]:
#print(test.isnull().sum())
#from sklearn.preprocessing import Imputer
#imp=Imputer()
#train=imp.fit_transform(imp)
#test=imp.fit_transform(imp)
train.fillna(0,inplace=True)

test.fillna(0,inplace=True)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
trainx,t,trainyy,y=train_test_split(train,trainy,test_size=0.2)
model=RandomForestClassifier()
model.fit(trainx,trainyy)
py=model.score(t,y)
print(py)

0.7932960893854749

#So the accuracy is around 79%